.footer {
    background-color: #90243b;
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer p{
    max-width: 100%;
    font-size: 16px;
    color: white;
}
.footer img {
    width: 64px;
    align-items: right;
    background-color: white;
}