 <div class="links">
     <div class="nome">
        <span *ngIf="aula.link.length > 0, else semVideo">
            <a class="link ff-inter" href="{{aula.link}}">{{aula.aula}}</a>
        </span>
         
     </div>
     <div class="imagens">
        <button class="botao-material">
            <div *ngIf="aula.material.length >0 ">
                <a href="{{aula.material}}"><img src="/assets/imagens/pdf.png" alt="icone de pdf"></a>
            </div>
         </button>
         <button class="botao-editar" routerLink="/classes/editarAula/{{aula.id}}">
             <img src="/assets/imagens/icone-editar.png" alt="icone de editar">
         </button>
         <button class="botao-excluir" routerLink="/classes/excluirAula/{{aula.id}}">
             <img src="/assets/imagens/icone-excluir.png" alt="icone de excluir">
         </button>
</div>

<ng-template #semVideo>
    <div class="ff-inter ">
        <p>{{aula.aula}}</p>
  </div>
</ng-template>
