<h2 class="titulo ff-inter">{{materia.nome}}</h2>
<div class="aulas">
    <div  *ngFor="let aula of listaClasses">
        <div *ngIf="aula.materia == materia.nome">
            <app-class [aula]="aula"></app-class>
        </div>
    </div>

</div>